/* Colors and borders */
.fh_orange { color: #FF7800 }

body, #search {
  color: #333333;
  background: #ffffff;
}
table {
  width : 100%;
}
a, a:link { color: #005088; }
a:visited { color: #005088; }
a:hover, a:focus { color: #FF7800; }
a:active { color: #FF7800; }

#header a:visited { color: #005088; }
#header a:hover { background: #005088; }
#primary { border-top: solid 2px #FF7800; }
#primary { border-bottom: solid 2px #FF7800; }
#primary a { color: #005088; }
#primary a:hover { color: #FF7800; }
#secondary a { color: #FF7800; }
#secondary a:hover { color: #FF7800; }
#primary a.active, #primary a.active:hover, #secondary a.active, #secondary a.active:hover { color: #FF7800; }
.sidebar .sidebar .block { color: #333333; }
.sidebar .block a { color: #005088; }
.sidebar .block a:visited, .sidebar .sidebar .block h3 { color: #005088; }
.sidebar .block h2, .sidebar .block h3 { color: #333333; }
.sidebar .block a:hover { color: #FF7800; }
.sidebar .block {
  background: #ffffff;
  border: solid 1px #005088;
}
.main-content .content-title {color: #333333; }

/* links */
.block .more-link a { color: #FF7800; }
.block .more-link a:hover { color: #FF7800; }
.breadcrumb, .main-content .links a.read-more { color: #005088; }
.links a.read-more:hover { color: #005088; }

.main-content .node .content a,
.comment .content a, .book .body a { 
  border-bottom: 1px solid; 
}
/* flickr album links */
.main-content .node .content a.flickr_img_s,
.main-content .node .content #pager a
 {
  border-bottom-style: none;
}

.main-content .node .info, .main-content .node .terms { color: #999; }
.main-content .donation .info { 
  background: #efefef;
  padding: 5px;
  border-bottom: solid 2px #ddd;
}

.info .links {
  text-align: right;
}

.button { 
  color: #FF7800;
  padding: 2px 5px;
  margin: 5px;
  background: #efefef;
  width: auto;
  float: left;
  -moz-border-radius: 5px;
  border: solid 1px #ddd;
}
.form-submit, .form-submit:hover, .form-submit:focus  {
  background-color:#FF7800;
  color:#fff;
}

/* User profile */
.profile_content {
  margin: 15px;
  clear: both;
}
.profile_set {
  border: 0px;
}

.profile_left {
  width: 50%;
  float: left;
}

.profile_right {
  width: 50%;
  float: right;
}

.profile_set h2 {
  margin: 0px;
  text-align: center;
  background: #efefef;
  padding: 5px 10px;
  border-bottom: solid 2px #ddd;
  -moz-border-radius: 5px;
}

.profile_item {
  margin: 10px 0px;
}
.profile_item h3 {
  margin: 0px;
  clear: both;
}

.profile_item .info, .donation .info {
  background: #efefef;
  border: solid 2px #ddd;
  -moz-border-radius: 5px;
  margin: 5px 0px 5px 0px;
  padding: 10px;
}
.profile_item .info h3, .donation .info h3  {
  margin: 0px;
}
.profile_item .info .link, .donation .info .link {
  margin: 10px 0px 0px;
  text-align: right;
}

.profile_set div.picture {
  margin: 0px 10px 10px 0px;
  float: left;
}

#profile_motivation  {
  padding: 2px 10px;
  background: #efefef;
  clear: both;
  -moz-border-radius: 5px;
}

.profile_icon {
  margin: -5px 5px;
}

.profile_set .form-text, .profile_set .form-select {
  width: 90%;
}
.profile_set #edit-pass-pass1,
.profile_set #edit-pass-pass2 {
  width: 40%;
}

.main-content .sticky { border: 1px solid #eee; }
.main-content .h2 {color: #333333;}
img { border: 0; }
blockquote { border: 1px 0px #005088 solid; }
#mission {
  color: #000;
  background: #ffffff;
  border: solid 1px #999;
}
.box { border: 1px solid #005088; }
.box h2 { color: #999; }
.comment {
  border-top: solid 1px #eee;
  border-left: solid 1px #eee;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ddd;
}
.comment-new .new { color: #4d0; }
.comment .author, .comment .links { color: #333; }
.comment .title, .comment .title a.active {
  color: #444;
  background: #fffff;
}

.donation_link {
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-style:normal;
  text-align: center;
  
  width: 200px; 
  margin: 10px auto; 
  padding: 10px 5px;
  
  background: #FF7800; 
  -moz-border-radius: 0.5em;
}
.donation_link a, .donation_link a:link { color: #FFFFFF; }
.donation_link a:visited { color: #FFFFFF; }
.donation_link a:hover, a:focus { color: #005088; }
.donation_link a:active { color: #FFFFFF; }

.profile_right .form-submit {
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
  font-size:1em;
  font-weight:bold;
  font-style:normal;
  text-align: center;
  
  width: 200px;
  margin: 10px auto; 
  padding: 10px 5px;
  
  color:#FFFFFF;
  background-color:#FF7800;
  border-style:none;
  border-width:0px;

  -moz-border-radius: 0.5em;
}

#footer {
  color: #666;
  background: #fffff;
  border-top: solid 3px #FF7800;
}
form .form-item .title  {
  border: 0;
  border-bottom: #ddd solid 1px;
  color: #777;
  background: transparent;
}
.form-radio, .form-checkbox {
  background: transparent;
  border: 0;
}
input, textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #777;
}

select {
  background: #ffffff;
  color: #000;
}
input:focus, textarea:focus {
  background: transparent;
  border: 1px solid #03f;
}
input.form-text { 
  border: solid 1px #ddd;
}
button.form-submit { border: solid 1px #ddd; }
.marker, .error { color: #f00; }
.ok { color: #080; }
.path a, .path a:visited { color: #777; }
#message {
  background: #ffffff;
  border: 2px solid #6e2;
}
fieldset { border: 1px solid #999; }
.tabs li .active, .tabs li .active:hover  {
  color: #ccc;
  background: #fff;
}
pre {
  background: #ffffff;
  border: 1px solid #aaa;
}
div.picture { border: 0; }
.calendar td, .calendar th { border-color: #eee; }
.calendar .day-normal { background: #fff; }
.calendar .day-future { background: #fff; }
.calendar .day-today { background: #333; color: #fff; }
.calendar .day-today a { color: #fff; }
.calendar .day-selected { background: #555; color: #fff; }
.calendar .day-link { background: #ddd; color: #fff; }

/* END of colours and borders */

body {
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
  font-size: 84%;
  padding: 0;
  margin: 0;
}
h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; font-weight: bold;}
h4, h5, h6 { font-size: 0.9em; font-weight: bold;}
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
}
p, .book .body {
  padding: 0 0 0.8em 0;
  margin: 0;
  text-indent: 0em;
  font-size: 1em;
  line-height: 1.6em;
}
pre {
  padding: 0.75em 1.5em;
  font-size: 12px;
}
a { text-decoration: none; }
form {
  padding: 0;
  margin: 0;
}
blockquote {
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}
code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}
#header {
  background: #ffffff;
  position: left;
  padding: 0px 0px 0px 0px;
  margin: 0;
}
#header img { 
  margin: 15px 5px 5px 5px;
  float: center;
}

#site-name {
  font-size: 2em;
  padding: 25px 0 0.2em 0;
  margin: 0;
}
#site-slogan {
  color: #005088; 
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
  display: inline;
  font-weight: normal;
  font-size : 1em;
  padding: 0 0 0 0;
  margin: 0;
}
#content {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
td.main-content {
  vertical-align: top;
  padding: 1em 1em;
}
td.sidebar {
  vertical-align: top;
  padding: 5;
  width: 200px;
}
.sidebar .block {
  margin: 10px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
.sidebar .block h2 {
  padding: 3px 0 0 0;
  margin: 0;
  font-size: 1em;
}
.sidebar .block h3 {
  margin: 0 0 0.3em 0;
}
.sidebar .block .xml-icon {
  text-align: center;
}
.sidebar input.form-text {
  width: 200px;
  padding: 0px;
  margin: 0px;
}
.sidebar .block-search button.form-submit { 
  width: 60px;
  font-size: 12px;
}
.more-link {
  float: none;
  text-align: right;
  font-style: italic;
}
.item-list {
  margin: 0.25em 0 0 0;
  font-size: 0.9em;
}
.item-list ul {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 0;
  padding: 0 0 0 1em;
  line-height: 1.3em;
  list-style: none;
}
#search {
  margin: 0;
  padding: 0;
  float: right;
  width: 200px;
}
#search .form-text {
  margin-right: 3px;
  padding: 3px;
}
#search .form-submit {
  padding: 2px;
}
#top-nav {
  padding: 0;
  margin: 0 0 0 0;
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
}
#top-nav ul {
  margin: 0;
  padding: 4px 0px 4px 20px;
}
#primary {
  font-size: .8em;
}
#secondary {
  text-align: right;
  font-size: 1.1em;
}
#primary li {
  margin-left: 2px; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#secondary li {
  margin-right: 5px; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#primary a {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
}
#secondary a {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.breadcrumb {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  height: 1em;
}
.main-content .node .content, .comment .content, .book .body {
  line-height: 1.5em;
}
.main-content .node, .book {
  margin: 0 1em 2em 1em;
}
.main-content .content-title {
  font-size: 1.2em;
  margin: 0.7em 0 0.5em 0;
}
.main-content .node h2, .main-content h2 {
  padding: 0;
  margin: 0 0 0.25em 0;
  font-size: 1.1em;
}
.main-content .node .info {
  padding: 0 0 0.9em 0;
  margin: 0;
  font-size: 0.9em;
}
.main-content .node .links, .main-content .node .terms {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}
.main-content .node .terms {
  font-weight: normal;
  text-align: right;
}
.main-content .sticky { 
  padding: 0.5em;
}
.links a.read-more {
  font-style: italic;
  font-size: 1.2em;
}
.main-content .node .content {
  padding: 0;
  margin: 0;
}
.main-content .node .info, .main-content .node .links, #mission {
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
}
#mission {
  padding: 5px 10px;
  margin: 0 0 1.6em 0;
  font-size: 1.1em;
  text-indent: 0;
  width: auto;
}
.main-content .box {
  border: 1px solid #eee;
  margin-bottom: 0.5em;
}  
.main-content .box .content {
  padding: 0.5em;
}
.main-content .box h2 {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
}

.block .comment {
  margin: 0em 0em 1em 0em;
  background-color:#e8e8e8;
  padding: 0.5em;	
}

.comment {
  padding: 1em;
  margin: 1.5em 0;
}
.comment-folded {
  padding: 0.5em;
  margin: 1.5em 0;
}
.comment-new .new {
  text-align: right;
  font-size: 1.1em;
  display: block;
  padding-bottom: 0.5em;
  width: 100%;
}
.comment .content, .comment .content p {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-indent: 0;
}
.comment .title, .comment .author, .comment .links {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.5em;
}
.comment .author {
  font-size: 0.9em;
  padding: 0.1em 0 0.3em 0.75em;
}
.comment .links {
  padding: 0.75em 0 0 0;
  margin: 0;
}
#footer {
  padding: 1em 1em 1em 1em;
  font-size: 0.9em;
  text-align: center;
}
#footer p {
  text-indent: 0;
  margin-bottom: 1em;
}
.xml-icon {
  text-align: center;
}
.form-submit {
  margin: 0;
}
.form-item {
  margin: 3px 0;
  padding: 0.3em 0;
}
.main-content .box .content .form-item textarea {
  width: auto;
}
input.form-text {
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
}
button.form-submit {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
h3.form-title {
  text-align: left;
}
form .form-item .title  {
  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: left;
}
select {
  margin: 1px 5px;
}
.container-inline {
  margin: 0 0 1.6em 0;
}
.container-inline div {
  display: inline;
}
#pager {
  text-align: center;
}
#pager div {
  padding: 0.5em;
}
.main-content li {
  padding-bottom: 0.25em;
}
#message {
  padding: 2em;
  margin: 1em 2em;
}
li.leaf {
  list-style-type: square;
}
div.picture { 
  float: left;
  margin: 0 1em 0.3em 0;
}
br.clear {
  clear: both;
}

td input.form-text {
  width : auto;
}
/* Echoditto tweaks */

.block {
	border:0px;
}

.block-aggregator .item-list ul li {
  margin: 1em 0 0 0;
  font-size: 0.8em;
}

#gathering-info {
	background-color:#e8e8e8;
	padding:.75em;	
}

#gathering-info dt {
	font-weight:bold;
	font-size:14px;
	padding:.25em;	
}
#gathering-info dd {
	text-indent:2em;
}
#gathers-info #sponsors {
	text-transform:small-caps;
}

.form-image {
	border:0px;
}	
#country-search {	
	background-color:#e8e8e8;
	width:420px;
	padding-bottom:.25em;
	margin-bottom:1em;
}

#country-search dt {
font-weight:bold;
padding:.75em;
}

#sidebar-right .block {
border:0px;
}

.block-i18n h2,  #block-i18ntrans-0 h2 {
  display:none;
}
.block-i18n li,  #block-i18ntrans-0 li {
  display: inline;
  margin: 2px;
  padding: 2px;
  font-size: 0.8em;
}
.block-i18n li .active,  #block-i18ntrans-0 li .active {
  font-weight: bold;
}

.block-i18n ul,  #block-i18ntrans-0 ul {
  display: inline;
  margin-left: 10px;
}

ul.block_menu li:before {
   content: "\0020 \0020 \0020 \00BB \0020";
   color: #FF7800;
}
ul.block_menu li {
   margin-top: 0.2em;
   list-style: none;
}

.product-table td {
  width: 50%;
  padding: 10px;
}

#subproducts_add_to_cart fieldset {
  background-color:#e8e8e8;
  font-size: 0.8em;
  clear: both;
}
#subproducts_add_to_cart legend {
  background-color:#fff;
}
#subproducts_add_to_cart label {
  display: inline;
}
#subproducts_add_to_cart select {
  font-size: 0.8em;
  display: inline;
}
#subproducts_add_to_cart div.description {
  display: inline;
}
#subproducts_add_to_cart .form-submit {
  background-color:#FF7800;
  color:#fff;
  float: right;
}

#fhproducts_add_to_cart fieldset {
  background-color:#e8e8e8;
  font-size: 0.8em;
  clear: both;
}
#fhproducts_add_to_cart legend {
  background-color:#fff;
}
#fhproducts_add_to_cart .form-submit {
  background-color:#FF7800;
  color:#fff;
  float: right;
}

.product-list div.price {
  display: inline;
}

#fhbat_page .form-submit {
  background-color:#FF7800;
  color:#fff;
}

.fhoverview div {
 width: 500px;
}

/* block on central column */
.main-content div.block {
  background-color:#FF7800;
  margin-top : 1em;
  padding: 5px;
  width: 20em;
  float: left;
}

.main-content div.block p {
  padding: 0px;
  text-align :  center;
}

.main-content div.block a {
  color:#fff;
}

/* partner */
.block-fhpartner {
  text-align: center;
}
.block-fhpartner .item-partner {
  margin: 20px auto;
}
.block-fhpartner .item-partner div {
  float: none;
}
.block-fhpartner .item-partner .image-attach-teaser {
  margin: 0px;
}

.partner_list .item-partner {
  width : 100px;
  margin : 5px 0px;
  line-height: 1.1em;
}

.partner_description {
  margin-top: 0.5em;
}

.partner_events {
  margin-top: 2em;
  margin-bottom: 1em;
}
.partner_events fieldset {
  margin-top: 0.5em;
}

/* exclude underline */
.main-content .partner_list .item-partner a,
.main-content .node .content legend a,
.main-content .node .content .image-attach-body a {
  border: 0px;
}
#header a:hover {background: 0px;}

/* button create */
#fhwalk_create {
  width: auto;
}

#fhwalk_create div {
  float: left;
  width: 120px;
}

div #fhwalk_btn_register {
  margin-left: 10px;
  width: 200px;
}

#fhwalk_create p {
  float: left;
  width: 600px;
}

#primary {background-color: #005088}

#primary a {color: white}

#primary a:link {color: white}

#primary a:visited {color: white}

#primary a:hover {color: white}

#primary a.active {color:white}

#primary a.active:hover {color:white}

#primary {text-align: left}

#countdownbanner {text-align:center}

.tbcenter {text-align: center;}

ul#aboutuslist {
  list-style-image: url(/themes/FHBidi/images/bulletpointus.gif);
  color: #FF9900;
  margin: 0; padding: 0;
  margin-left: 31px;
  margin-top: 10px;
}

li#aboutusbullet {
  margin-bottom: 3px;
}
